<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>


    <link rel="stylesheet" href="../css/about_us.css">
    <link rel="shortcut icon" href="../images/brand.png" type="image/x-icon">


</head>
<body>
    <section class="section1">
        <div class="container">
            <div class="div">
                <nav>
                    <h1 class="class"><a class="Trend" href="business-club.html" rel="noopener noreferrer">Trend</a></h1>
                    <ul class="ul">
                        <li>
                            <a class="anchor" href="home.html" rel="noopener noreferrer">HOME </a>
                        </li>
                        <li>
                            <a class="anchor" href="business-club.html" rel="noopener noreferrer">BUSINESS CLUB</a>
                        </li>
                        <li>
                            <a class="anchor" href="about_us.html" rel="noopener noreferrer">ABOUT US</a>
                        </li>
                        <li>
                            <a class="anchor" href="news.html" rel="noopener noreferrer">NEWS</a>
                        </li>
                        <li>
                            <a class="anchor" href="faqs.html" rel="noopener noreferrer">FAQs</a>
                        </li>
                        <li>
                            <a href="sign_in.html" class="sign">SIGN IN</a>
                        </li>
                    </ul>
                </nav>
        </div>

        </div>

    </section>
    
    <section id="sec1">
        
                <div class="container">
                      <div class="div1">
                         <a href="home.html"> <img class="img" src="../images/arrow.png" height="16px" width="26px" alt=""> </a> 
                         <p class="p">ABOUT US.</p>
                    
                       </div> 
                     <div>
                         <h1 class="z1">INVESTING GLOBALLY <br>
                            HAS ALWAYS BEEN OUR INSTINCT.</h1>
                            
                     </div>
                        <div class="div4">
                            <div class="div3" >
                                <p class="z">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Blanditiis voluptatibus veritatis necessitatibus corrupti. Iure obcaecati vel dolorem quo eum labore, saepe at eveniet quasi perferendis harum magni sequi explicabo sed quibusdam cumque maiores rem ducimus accusantium voluptatibus recusandae eos eaque.</p>
                                
                                <p class="z">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Officia, aspernatur consequatur mollitia accusamus libero odio cumque. Adipisci sit, error laborum, numquam eum placeat labore enim unde dolorum molestias rem a ut delectus sapiente aperiam optio ducimus quos impedit vel quaerat accusamus assumenda veniam non voluptate. Et, quam. Quaerat consectetur ea reiciendis adipisci.</p>
                                
                            </div>
                            <div class="div3">
                                <img class="cc" src="../images/special.png" height="330px" width="550px" alt="">
                                
                            </div>
                        </div>
                        
                    </div>
    </section>
    <section id="COLOR">
        <div class="container">
            <div>
                <h1 class="Z2">
                    OUR GUIDING PRINCIPLES 
                </h1>
            </div>

            <div class="PAR">
                <div class="z3">
                    <h1 class="new">BE DIFFERENT,<br> TOGATHER</h1>
                    <h4 class="h">-01</h4>
                    <P class="pp1">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Suscipit, modi. Labore nulla ipsum facere sed voluptas expedita fuga, a in.Lorem ipsum dolor sit amet.</P>
                </div>
                <div class="z3">
                    <h1 class="new">LIFT EVERY LOW, <br> AND EVERY HIGH</h1>
                    <h4 class="h">-02</h4>
                    <P class="pp1">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Suscipit, modi. Labore nulla ipsum facere sed voluptas expedita fuga, a in.Lorem ipsum dolor sit amet.</P>
                </div>
                <div class="z3" id="b4">
                    <h1 class="new">LEAD WITH GENEROSITY</h1>
                    <h4 class="hh">-04</h4>
                    <P class="pp">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Suscipit, modi. Labore nulla ipsum facere sed voluptas expedita fuga, a in.
                        Lorem ipsum dolor sit amet.
                    </P>
                </div>
                <div class="z3">
                    <h1 class="new">INVEST IN THE WORLD</h1>
                    <H4 class="hh">-03</H4>
                    <P class="pp">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Suscipit, modi. Labore nulla ipsum facere sed voluptas expedita fuga, a in.Lorem ipsum dolor sit amet.</P>
                </div>
              
               
             </div>
             <div>
                <img class="z4" src="../images/special.PNG2vertical.png" alt="">
            </div>
        </div>
    </section>
    <section id="hight">
        <div class="container">
            <div>
                <H1 class="Z4"> OUR TEAM</H1>
            </div>
            <DIV class="z5">
                <div class="z6">
                    <img class="z7" src="../images/p1.jpeg" alt="">
                    <h1 class="name" id="padding">MAX SLOBODYANYUK</h1>
                    <p class="intro" id="padding1">FOUNDER <B>.</B> MANAGING PARTNER</p>
                </div>
                <div class="z6"> 
                    <img class="z7" src="../images/p2.jpeg" alt="">
                    <h1 class="name" id="padding">MAX SLOBODYANYUK</h1>
                    <p class="intro" id="padding1">FOUNDER <B>.</B> MANAGING PARTNER</p>
                </div>
                <div class="z6">
                     <img class="z7" src="../images/p3.jpeg" alt="">
                     <h1 class="name" id="padding">MAX SLOBODYANYUK</h1>
                     <p class="intro" id="padding1">FOUNDER <B>.</B> MANAGING PARTNER</p>
                </div>
                <div class="z6">
                    <img class="z7" src="../images/p4.jpeg" alt="">
                    <h1 class="name" id="padding">MAX SLOBODYANYUK</h1>
                    <p class="intro" id="padding1">FOUNDER <B>.</B> MANAGING PARTNER</p>
                </div>
                <div class="z6">
                    <img class="z7" src="../images/p5.jpeg" alt="">
                    <h1 class="name" id="padding">MAX SLOBODYANYUK</h1>
                    <p class="intro" id="padding1">FOUNDER <B>.</B> MANAGING PARTNER</p>
                </div>
                <div class="z6">
                    <img class="z7" src="../images/p6.jpeg" alt="">
                    <h1 class="name" id="padding">MAX SLOBODYANYUK</h1>
                    <p class="intro" id="padding1">FOUNDER <B>.</B> MANAGING PARTNER</p>
                </div>
            </DIV>
        </div>
     </section>

     <footer class="ft">
        <div class="container">
            <div class="fter">
                <h1 class="sms">GET IN TOUCH</h1>
                <div class="flex">
            <div class="derive">
                <p class="rar">PRESS<br></p>
                <a class="ttt" href="http://" target="_blank" rel="noopener noreferrer">PRESS@TREND.COM</a>
            </div>
            <div class="derive">
                <p class="rar">CAREERS <br></p>
                <a class="ttt" href="http://" target="_blank" rel="noopener noreferrer">CAREERS@TREND.COM</a>
            </div>
            <div class="derive">
                <p class="rar">GENERAL <br></p>
                <a class="ttt" href="http://" target="_blank" rel="noopener noreferrer">GENERAL@TREND.COM</a>
            </div>
            <div class="derive">
                <p class="rar">IDEAS <br></p>
                <a class="ttt" href="http://" target="_blank" rel="noopener noreferrer">IDEAS@TREND.COM</a>
            </div>    
            </div> 
            </div>
    
            <div class="rung">
                <a href="#" class="party">SITE NOTICE</a>
                <a href="#" class="party">PRIVACY STATEMENT</a>
                <a href="#" class="rain"><img src="../images/face.PNG" alt="" class="barish"></a>
                <a href="#" class="rain"><img src="../images/twitt.PNG" alt="" class="barish"></a>
                <a href="#" class="rain"><img src="../images/inst.PNG" alt="" class="barish"></a>
            </div>
        </div>
    </footer>

    
</body>

</html>