<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Business Club</title>
    <!-- for accordion (jquery ui wala) -->


    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css">
    <link rel="stylesheet" href="resources/demos/style.css">


    <!-- transitioN -->
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />


    <link rel="shortcut icon" href="../images/brand.png" type="image/x-icon">

    <!-- for slick slider -->
    <link rel="stylesheet" href="slick-1.8.1/slick/slick-theme.css" />
    <link rel="stylesheet" href="slick-1.8.1/slick/slick.css">

    <!-- apni file -->
    <link rel="stylesheet" href="../css/table.css">
    <link rel="stylesheet" href="../css/business.css">
</head>

<body>
    <section class="number1">
        <div class="container">
            <nav>
                <h1><a class="Trend" href="business-club.html" rel="noopener noreferrer">Trend</a></h1>
                <ul class="ul">
                    <li>
                        <a class="anchor" href="home.html" rel="noopener noreferrer">HOME </a>
                    </li>
                    <li>
                        <a class="anchor" href="business-club.html" rel="noopener noreferrer">BUSINESS CLUB</a>
                    </li>
                    <li>
                        <a class="anchor" href="about_us.html" rel="noopener noreferrer">ABOUT US</a>
                    </li>
                    <li>
                        <a class="anchor" href="news.html" rel="noopener noreferrer">NEWS </a>
                    </li>
                    <li>
                        <a class="anchor" href="faqs.html" rel="noopener noreferrer">FAQs</a>
                    </li>
                    <li>
                        <a href="sign_in.html" class="sign">SIGN IN</a>
                    </li>
                </ul>
            </nav>

        </div>
    </section>


    <section class="number2">
        <div class="container">
            <div class="bin">
                <div class="cntnt">
                    <h1 class="head">
                        WE TREND <em>
                            __
                        </em>
                    </h1>
                    <h2 class="sub-head">
                        BUSINESS CLUB
                    </h2>
                    <p class="paragraPH">
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Enim nobis molestias sequi animi
                        quidem obcaecati nulla explicabo? Rerum iusto aut
                    </p>
                </div>


                <div id='warped'>
                    <span class='w0'> </span><span class='w1'>L</span><span class='w2'>E</span><span
                        class='w3'>A</span><span class='w4'>R</span><span class='w5'>N</span><span class='w6'>
                    </span><span class='w7'>M</span><span class='w8'>O</span><span class='w9'>R</span><span
                        class='w10'>E</span><span class='w11'>.</span><span class='w12'>L</span><span
                        class='w13'>E</span><span class='w14'>A</span><span class='w15'>R</span><span
                        class='w16'>N</span><span class='w17'> </span><span class='w18'>M</span><span
                        class='w19'>O</span><span class='w20'>R</span><span class='w21'>E</span><span
                        class='w22'>.</span>
                </div>
                <div class="arr">
                    <a href="#sec8" class="king"><img src="../images/arrrrrrr.PNG" class="beep" alt=""></a>
                </div>
            </div>
        </div>
        </div>
    </section>


    <section class="number3">
        <div class="container">
            <div class="mmmain">
                <div class="water">
                    <h1 class="js">
                        ABOUT US
                    </h1>
                    <p class="cntnts">
                        Since launching our Early Stage and Growth Funds San Francisco <br> we've established Early
                        Stage Funds in Asia , Europe ,and South <br> America we created these Funds to lead round at
                        every Stage , in <br> every goegraphy <br><br>We are actively on the ground accros continents,
                        seeing local trends <br> up close.searching for top founders, and bringing them our world of
                        <br> resources,Once we comitt to a team ,we go to the ends of the earth <br> -conecting
                        entrepreneurs to each other ,to customers and the insights <br> of the distant market - to help
                        them become a global success
                    </p>
                    <div class="para-parent">
                        <div class="pin">
                            <em class="+">+</em><span class="Single">100</span><br>
                            <p class="pointt">Lorem ipsum dolor sit amet consectetur, adipisicing elit.</p>
                        </div>
                        <div class="pin" id="diff">
                            <span class="tingle">231</span><br>
                            <p class="pointt">Lorem ipsum dolor sit amet consectetur, adipisicing elit.</p>
                        </div>
                        <div class="pin">
                            <span class="ringle">66</span><br>
                            <p class="pointt">Lorem ipsum dolor sit amet consectetur, adipisicing elit.</p>
                        </div>
                        <div class="pin" id="diff">
                            <span class="pingle">1000</span><br>
                            <p class="pointt">Lorem ipsum dolor sit amet consectetur, adipisicing elit.</p>
                        </div>
                    </div>
                </div>
                <div class="water">
                    <img src="../images/special.PNG2vertical.png" alt="" class="hut">
                </div>
            </div>
        </div>
    </section>

    <section class="number4">
        <div class="container">
            <div class="lorem">
                <h1 class="club">
                    FOR WHOM BUSINESS CLUB
                </h1>
                <div class="tea">
                    <div class="sam">
                        <h2 class="lara">LOREM IPSUM</h2>
                        <span class="minus">-01</span>
                        <ul class="png">
                            <li>
                                Lorem ipsum dolor sit amet consectetur adipisicing Lorem.
                            </li>
                            <li>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit Lorem.
                            </li>
                        </ul>
                    </div>
                    <div class="sam">
                        <h2 class="lara">LOREM IPSUM</h2>
                        <span class="minus">-02</span>
                        <ul class="png">
                            <li>
                                Lorem ipsum dolor sit amet consectetur adipisicing Lorem.
                            </li>
                            <li>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit Lorem.
                            </li>
                        </ul>
                    </div>
                    <div class="sam">
                        <h2 class="lara">LOREM IPSUM DOLOR</h2>
                        <span class="minus">-03</span>
                        <ul class="png">
                            <li>
                                Lorem ipsum dolor sit amet consectetur adipisicing Lorem.
                            </li>
                            <li>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit Lorem.
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section class="number5">
        <div class="container">
            <div class="house">
                <h1 class="qq">
                    WHAT THEY SAY ABOUT BUSINESS CLUB
                </h1>
                <div class="solid">
                    <div class="yupppp">
                        <img src="../images/vede1.JPG" alt="" class="video">
                        <h2 class="h2">LOREM IPSUM</h2>
                        <p class="get">Sorare is the global fantasy football game where fans can buy , trade , and play
                            with the official digital card</p>
                    </div>

                    <div class="yupppp">
                        <img src="../images/vede2.JPG" alt="" class="video">
                        <h2 class="h2">LOREM IPSUM</h2>
                        <p class="get">Sorare is the global fantasy football game where fans can buy , trade , and play
                            with the official digital card</p>
                    </div>

                    <div class="yupppp">
                        <video controls src="../images/pexels-tima-miroshnichenko-5716913.mp4" class="video"></video>
                        <h2 class="h2">LOREM IPSUM</h2>
                        <p class="get">Sorare is the global fantasy football game where fans can buy , trade , and play
                            with the official digital card</p>
                    </div>

                    <div class="yupppp">
                        <video controls src="../images/production ID_3945144.mp4" class="video"></video>
                        <h2 class="h2">LOREM IPSUM</h2>
                        <p class="get">Sorare is the global fantasy football game where fans can buy , trade , and play
                            with the official digital card</p>
                    </div>

                    <div class="yupppp">
                        <video controls src="../images/pexels-tima-miroshnichenko-5716913.mp4" class="video"></video>
                        <h2 class="h2">LOREM IPSUM</h2>
                        <p class="get">Sorare is the global fantasy football game where fans can buy , trade , and play
                            with the official digital card</p>
                    </div>

                    <div class="yupppp">
                        <video controls src="../images/production ID_3945144.mp4" class="video"></video>
                        <h2 class="h2">LOREM IPSUM</h2>
                        <p class="get">Sorare is the global fantasy football game where fans can buy , trade , and play
                            with the official digital card</p>
                    </div>

                    <div class="yupppp">
                        <video controls src="../images/pexels-tima-miroshnichenko-5716913.mp4" class="video"></video>
                        <h2 class="h2">LOREM IPSUM</h2>
                        <p class="get">Sorare is the global fantasy football game where fans can buy , trade , and play
                            with the official digital card</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="number6">
        <div class="container">
            <div class="wall">
                <h1 class="well">
                    WHAT DO THE CLUB MEMBERS RECIEVE ?
                </h1>
                <p class="well"> Since launching our Early Stage and Growth Funds San Francisco we've established <br>
                    Early Stage Funds in Asia </p>
                <div class="ball">
                    <div class="bat" data-aos="zoom-in">
                        <img src="../images/avatar.JPG" alt="" class="cffe">
                        <h3 class="junk">BUSINESS EVENTS</h3>
                        <p class="sprt">Lorem ipsum is placeholder text commonly used in graphic print and publishing
                            industries for previewing layouts and visual mockups</p>
                    </div>
                    <div class="bat" data-aos="zoom-in">
                        <img src="../images/avatar.JPG" alt="" class="cffe">
                        <h3 class="junk">BUSINESS EVENTS</h3>
                        <p class="sprt">Lorem ipsum is placeholder text commonly used in graphic print and publishing
                            industries for previewing layouts and visual mockups</p>
                    </div>
                    <div class="bat" data-aos="zoom-in">
                        <img src="../images/avatar.JPG" alt="" class="cffe">
                        <h3 class="junk">BUSINESS EVENTS</h3>
                        <p class="sprt">Lorem ipsum is placeholder text commonly used in graphic print and publishing
                            industries for previewing layouts and visual mockups</p>
                    </div>
                    <div class="bat" data-aos="zoom-in">
                        <img src="../images/avatar.JPG" alt="" class="cffe">
                        <h3 class="junk">BUSINESS EVENTS</h3>
                        <p class="sprt">Lorem ipsum is placeholder text commonly used in graphic print and publishing
                            industries for previewing layouts and visual mockups</p>
                    </div>
                    <div class="bat" data-aos="zoom-in">
                        <img src="../images/avatar.JPG" alt="" class="cffe">
                        <h3 class="junk">BUSINESS EVENTS</h3>
                        <p class="sprt">Lorem ipsum is placeholder text commonly used in graphic print and publishing
                            industries for previewing layouts and visual mockups</p>
                    </div>
                    <div class="bat" data-aos="zoom-in">
                        <img src="../images/avatar.JPG" alt="" class="cffe">
                        <h3 class="junk">BUSINESS EVENTS</h3>
                        <p class="sprt">Lorem ipsum is placeholder text commonly used in graphic print and publishing
                            industries for previewing layouts and visual mockups</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--table-->

    <!-- <section class="number7">                    -->
    <section class="number7">
        <div class="container">


           <div class="container-fluid">
          <div id="tabs" class="table">
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link" aria-current="page" href="#tabs-2">Day</a>
            </li>
              <li  class="nav-item">
                <a  class="nav-link active" aria-current="page" href="#tabs-1">Week</a>
            </li>
              <li class="nav-item">
                <a class="nav-link" aria-current="page" href="#tabs-3">Month</a>
            </li>
            </ul>
            <form class="d-flex">
                <input class="form-control me-2" type="search" placeholder="Search" id="search">
                <button class="btn btn-outline-success" type="button" id="btnsearch">Search</button>
              </form>
         </div>
    




               
                  


            <div id="tabs-1">
                <div class="blank" id="table">
                    <table class="table1">
                        <thead>
                            <title></title>
                        </thead>      
                        <tbody class="tbody1">             
                            <tr>
                                <th>
                                    <p class="days"> SUN  <br></p> <p class="date"> 21</p>
                                </th>
                                <th>
                                    <p class="days">MON <br></p> <p class="date">22</p>
                                </th>
                                <th>
                                    <p class="days">TUES <br></p> <p class="date">23</p>
                                </th>
                                <th>
                                    <p class="days">WED <br></p> <p class="date">24</p>
                                </th>
                                <th>
                                    <p class="days">THUR <br></p> <p class="date">25</p>
                                </th>
                                <th>
                                    <p class="days">FRI <br></p> <p class="date">26</p>
                                </th>
                                <th>
                                    <p class="days">SAT <br></p> <p class="date">27</p>
                                </th>
                            </tr>
                        <tr> 
                            <td class="size2"></td>
                            <td class="size2"></td>
                            <td class="size2"></td>
                            <td class="size2"></td>
                            <td class="size2"></td>
                            <td class="size2"></td>
                            <td class="size2"></td>
                        </tr>
                        <tr> 
                            <td></td>
                            <td class="blue" id="size"> <p class="time1"> 8:00 AM </p><p class="emoj">&#9940;</p> <p class="lorem1"> Lorem ipsum is <br> asrdolorsit.</p></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr> 
                            <td></td>
                            <td></td>
                            <td></td>
                            <td class="blue" id="size"> <p class="time2">9:00 AM </p> <p  class="emoji">&#9940;</p><p class="emoji2">&#128526;</p> <p class="lorem2">Lorem ipsum is <br> asrdolorsit.</p>  </td>
                            <td></td>
                            <td class="blue" id="size"> <p class="time2">9:00 AM </p>  <p  class="emoji">&#9940;</p><p class="emoji2">&#128526;</p> <p class="lorem2">Lorem ipsum is <br> asrdolorsit.</p> </td>
                            <td></td>
                        </tr>
                        <tr> 
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td  class="purple" id="size"> <p class="time1">9:00 AM </p>  <p class="emoj">&#9940;</p> <p class="lorem1">Lorem ipsum is <br> asrdolorsit.</p></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr> 
                            <td></td>
                            <td  class="purple" id="size"> <p class="time2"> 11:00 AM  </p><p  class="emoji">&#9940;</p><p class="emoji2">&#128557;</p> <p class="lorem2">Lorem ipsum is<br> asrdolorsit.</p> </td>
                            <td></td>
                            <td  class="purple" id="size"> <p class="time1">11:00 AM </p> <p class="emoj">&#9940;</p> <p class="lorem1">Lorem ipsum is <br> asrdolorsit.</p></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr> 
                            <td></td>
                            <td  class="purple"></td>
                            <td class="green" id="size"> <p class="time2">10:00 PM </p> <p  class="emoji">&#9940;</p><p class="emoji2">&#128557;</p> <p class="lorem2">Lorem ipsum is<br> asrdolorsit.</p> </td>
                            <td></td>
                            <td></td>
                            <td class="blue" id="size"> <p class="time2">10:00 PM</p>  <p class="emoji">&#9940;</p><p class="emoji2">&#129321;</p> <p class="lorem2">Lorem ipsum is <br> asrdolorsit.</p> </td>
                            <td></td>
                        </tr>
                        <tr> 
                            <td></td>
                            <td></td>
                            <td></td>
                            <td class="blue" id="size">  <p class="time1"> 1:00 PM </p> <p class="emoj">&#9940;</p> <p class="lorem1">Lorem ipsum is<br> asrdolorsit.</p></td>
                            <td class="blue" id="size"> <p class="time1"> 1:00 PM </p> <p class="emoj">&#9940;</p> <p class="lorem1">Lorem ipsum is<br> asrdolorsit.</p></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr> 
                            <td></td>
                            <td class="yellow" id="size"> <p class="time1">7:00 PM </p> <p class="emoj">&#9940;</p> <p class="lorem1">Lorem ipsum is <br> asrdolorsit.</p></td>
                            <td class="blue" id="size"> <p class="time1"> 7:00 PM </p><p class="emoj">&#9940;</p><p class="lorem1">Lorem ipsum is<br> asrdolorsit.</p></td>
                            <td class="blue"></td>
                            <td></td>
                            <td></td>
                            <td class="yellow" id="size"> <p class="time1">7:00 PM</p>  <p class="emoj">&#9940;</p> <p class="lorem1">Lorem ipsum is<br> asrdolorsit.</p></td>
                        </tr>
                        <tr> 
                            <td></td>
                            <td></td>
                            <td class="blue"></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr> 
                            <td></td>
                            <td></td>
                            <td class="red" id="size"> <p class="time2">4:00 PM</p>  <p  class="emoji">&#9940;</p> <p class="emoji2">&#128578;</p> <p class="lorem2">Lorem ipsum is<br> asrdolorsit.</p></td>
                            <td></td>
                            <td></td>
                            <td class="red" id="size"> <p class="time2"> 4:00 PM</p> <p class="emoji">&#9940;</p><p class="emoji2">&#127801;</p> <p class="lorem2">Lorem ipsum is<br> asrdolorsit.</p></td>
                            <td></td>
                        </tr>
              </tbody>
                    </table>
                    <ul class="UL1">
                        <li>7 AM</li>
                        <li>8 AM</li>
                        <li>9 AM</li>
                        <li>10 AM</li>
                        <li>11 AM</li>
                        <li>10 PM</li>
                        <li>1 PM</li>
                        <li>2 PM</li>
                        <li>3 PM</li>
                        <li>4 PM</li>
                    </ul>

                    <ul class="UL2">
                        <li>7 AM</li>
                        <li>8 AM</li>
                        <li>9 AM</li>
                        <li>10 AM</li>
                        <li>11 AM</li>
                        <li>10 PM</li>
                        <li>1 PM</li>
                        <li>2 PM</li>
                        <li>3 PM</li>
                        <li>4 PM</li>
                    </ul>
                    
    
                </div>
            </div>
            <div id="tabs-2">
                <div>
                    <table class="hight">
                          <thead>
                           <title></title>
                          </thead> 
                           <tbody class="tbody">
                               <tr class="1" id="same">
                                   <th>Mon</th>
                                   <th>Tues</th>
                                   <th>Wed</th>
                                   <th>Thurs</th>
                                   <th>Fri</th>
                                   <th>Sat</th>
                                   <th>Sun</th>
                               </tr>
                               <tr  class="2" id="same">
                                   <td>29</td>
                                   <td>30</td>
                                   <td>31</td>
                                   <td>1</td>
                                   <td>2</td>
                                   <td class="color">3 <br> Eid-ul-Azha</td>
                                   <td>4</td>
                               </tr>
                                <tr class="3" id="same">
                                   <td>5</td>
                                   <td class="color1">6 <br> Meeting</td>
                                   <td>7</td>
                                   <td>8</td>
                                   <td>9</td>
                                   <td>10</td>
                                   <td>11</td>
                                </tr>
                                 <tr class="4" id="same">
                                    <td>12</td>
                                    <td>13</td>
                                    <td>14</td>
                                    <td>15</td>
                                    <td class="color2">16 <br> Function</td>
                                    <td >17</td>
                                    <td>18</td>  
                                </tr>
                                <tr class="5" id="same">
                                    <td>19</td>
                                    <td>20</td>
                                    <td class="color4">21 Client Meeting</td>
                                    <td>22</td>
                                    <td>23</td>
                                    <td>24</td>
                                    <td>25</td>    
                                </tr>
                                <tr class="6" id="same">
                                     <td>26</td>
                                     <td class="color3">27 <br> Project Submission</td>
                                    <td>28</td>
                                    <td>29</td>
                                    <td>30</td>
                                    <td>1</td>
                                    <td>2</td>    
                               </tr>
                                
                           </tbody>     
                    </table>
               </div>
            </div>
            <div id="tabs-3">
              <div>
            <table class="table2" id="hidden">
                <thead>
                    <title></title>
                   </thead> 
                   <tbody class="tbody2">
                    <tr id="parent">
                        <td  class="W">JANUARY</td>
                        <td class="W">FEBRUARY</td>
                        <td class="W">MARCH</td>
                        <td class="W">APRIL</td>
                    </tr>
                    <tr id="parent1">
                        <td class="W">MAY</td>
                        <td class="W">JUNE</td>
                        <td class="W">JULY</td>
                        <td class="W">AUGUST</td>
                    </tr>
                    <tr id="parent">
                        <td class="W">SEPTEMBER</td>
                        <td class="W">OCTOBER</td>
                        <td class="W">NOVEMBER</td>
                        <td class="W">DECEMBER</td>
                    </tr>

                   </tbody>
            </table>
         </div>
            </div>
        
        
        </div>
     </div>

        </div>
    </section>

    <!-- </section> -->



    <section class="number8" id="sec8">
        <div class="container">
            <div class="divider">
                <h1 class="multiply">
                    HOW TO BECOME <br> A PARTICIPANT OF THE CLUB
                </h1>
                <div class="calculatOr">
                    <div class="pen">
                        <img src="../images/file.png" alt="" class="ic">
                        <h2 class="twist">
                            STEP 1
                        </h2>
                        <p class="pinss">
                            Make sure you meet all the <a href="#" class="pin">requirements the club</a>
                        </p>
                    </div>



                    <div class="pen">
                        <img src="../images/laptop.png" alt="" class="ics">
                        <h2 class="twistt">
                            STEP 2
                        </h2>
                        <p class="pinssee">
                            <a href="#" class="pin">leave the application </a>a potential candidate the site
                        </p>
                    </div>



                    <div class="pen">
                        <img src="../images/telephone.png" alt="" class="icz">
                        <h2 class="twist">
                            STEP 3
                        </h2>
                        <p class="pinss">
                            The manager makes an appontment with the club administration
                        </p>
                    </div>


                    <div class="pen">
                        <img src="../images/handshake.png" alt="" class="icp">
                        <h2 class="twistie">
                            STEP 4
                        </h2>
                        <p class="pinssed">
                            Business lunch and personaL accquariance with the CEO and the club board
                        </p>
                    </div>

                </div>

            </div>
        </div>
    </section>




    <section class="number9">
        <div class="container">
            <div class="jug">
                <h1 class="get">INVITED GUESTS</h1>
                <div class="responsive">
                    <div class="responsible" data-aos="fade-left">
                        <img src="../images/person1.PNG" alt="" class="bun">
                        <p class="axo">MAX SLOBODYANYUK <br>
                            <span class="span"> FOUNDER<em class="emphasized">.</em>MANAGING PARTNER</span>
                        </p>
                    </div>
                    <div class="responsible" data-aos="fade-left">
                        <img src="../images/person2.PNG" alt="" class="bun">
                        <p class="axo">MAX SLOBODYANYUK <br>
                            <span class="span"> FOUNDER<em class="emphasized">.</em>MANAGING PARTNER</span>
                        </p>
                    </div>
                    <div class="responsible" data-aos="fade-left">
                        <img src="../images/person3.PNG" alt="" class="bun">
                        <p class="axo">MAX SLOBODYANYUK <br>
                            <span class="span"> FOUNDER<em class="emphasized">.</em>MANAGING PARTNER</span>
                        </p>
                    </div>
                    <div class="responsible" data-aos="fade-left">
                        <img src="../images/person5.PNG" alt="" class="bun">
                        <p class="axo">MAX SLOBODYANYUK <br>
                            <span class="span"> FOUNDER<em class="emphasized">.</em>MANAGING PARTNER</span>
                        </p>
                    </div>
                    <div class="responsible" data-aos="fade-left">
                        <img src="../images/person4.PNG" alt="" class="bun">
                        <p class="axo">MAX SLOBODYANYUK <br>
                            <span class="span"> FOUNDER<em class="emphasized">.</em>MANAGING PARTNER</span>
                        </p>
                    </div>
                    <div class="responsible" data-aos="fade-left">
                        <img src="../images/person6.PNG" alt="" class="bun">
                        <p class="axo">MAX SLOBODYANYUK <br>
                            <span class="span"> FOUNDER<em class="emphasized">.</em>MANAGING PARTNER</span>
                        </p>
                    </div>
                </div>
            </div>
        </div>

    </section>

    <section class="number10" id="section10">
        <div class="container">

            <div class="thatta">
                <div class="sing">
                    <h1 class="song">
                        JOIN US
                    </h1>
                    <form id="is">

                        <p class="form">
                            <label for="zname">NAME</label><br>
                            <input type="text" name="zname" id="form">
                        </p>

                        <p class="form">
                            <label for="password">PASSWORD</label><br>
                            <input type="password" name="password" id="form">
                        </p>

                        <p class="form">
                            <label for="number">PHONE NUMBER </label> <br>
                            <input class="number" type="number" name="number" id="form">


                        </p>
                        <p class="form">
                            <button class="btn" type="submit"> SEND </button>
                        </p>

                    </form>

                </div>
                <div class="sing12">
                    <img src="../images/special.PNG2vertical.png" alt="" class="larkana67">
                    <img src="../images/special.PNG" alt="" class="larkana68">
                </div>
            </div>



        </div>
    </section>












    <footer class="ft">
        <div class="container">
            <div class="fter">
                <h1 class="sms">GET IN TOUCH</h1>
                <div class="flex">
                    <div class="derive">
                        <p class="rar">PRESS<br></p>
                        <a class="ttt" href="" rel="noopener noreferrer">PRESS@TREND.COM</a>
                    </div>
                    <div class="derive">
                        <p class="rar">CAREERS <br></p>
                        <a class="ttt" href="" rel="noopener noreferrer">CAREERS@TREND.COM</a>
                    </div>
                    <div class="derive">
                        <p class="rar">GENERAL <br></p>
                        <a class="ttt" href="" rel="noopener noreferrer">GENERAL@TREND.COM</a>
                    </div>
                    <div class="derive">
                        <p class="rar">IDEAS <br></p>
                        <a class="ttt" href="" rel="noopener noreferrer">IDEAS@TREND.COM</a>
                    </div>
                </div>
            </div>

            <div class="rung">
                <a href="#" class="party">SITE NOTICE</a>
                <a href="#" class="party">PRIVACY STATEMENT</a>
                <a href="#" class="rain"><img src="../images/face.PNG" alt="" class="barish"></a>
                <a href="#" class="rain"><img src="../images/twitt.PNG" alt="" class="barish"></a>
                <a href="#" class="rain"><img src="../images/inst.PNG" alt="" class="barish"></a>
            </div>
        </div>
    </footer>

</body>


<!-- jquery ka cdn -->
<script src="https://code.jquery.com/jquery-3.6.0.js"></script>

<!-- jquey-ui ka cdn -->
<script src="https://code.jquery.com/ui/1.13.1/jquery-ui.js"></script>


<!--validate-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.4/jquery.validate.min.js"></script>
<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script> -->


<!-- slick slider ka cdn -->
<script src="slick-1.8.1/slick/slick.js"></script>
<script src="slick-1.8.1/slick/slick.min.js"></script>


<!-- transtion k liey -->
<script src="https://unpkg.com/aos@next/dist/aos.js"></script>
<script>
    AOS.init();
</script>

<!-- apni file ka relative -->
<script src="../js/table.js"></script>
<script src="../js/business.js"></script>

</html>