<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
 
    <title>FAQs...</title>
    <!-- for accordion (jquery ui wala) -->

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.structure.min.css" integrity="sha512-oM24YOsgj1yCDHwW895ZtK7zoDQgscnwkCLXcPUNsTRwoW1T1nDIuwkZq/O6oLYjpuz4DfEDr02Pguu68r4/3w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css">     -->
    <!-- <link rel="stylesheet" href="//code.jquery.com/ui/1.13.1/themes/base/jquery-ui.css"> -->
    <!-- <link rel="stylesheet" href="/resources/demos/style.css"> -->

    
    
    
    <link rel="shortcut icon" href="../images/brand.png" type="image/x-icon">
    
    <!-- for slick slider -->
    <link rel="stylesheet" href="slick-1.8.1/slick/slick-theme.css"/>
    <link rel="stylesheet" href="slick-1.8.1/slick/slick.css">
    
<!-- transition -->
<link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />

    <!-- apni file -->
    <link rel="stylesheet" href="../css/faqs.css">
</head>
<body>
    <section class="number1">
        <div class="container">
    <nav>
        <h1><a class="Trend" href="business-club.html" rel="noopener noreferrer">Trend</a></h1>
        <ul class="ul">
            <li>
                <a class="anchor" href="home.html"rel="noopener noreferrer">HOME </a>
            </li>
            <li>
                <a class="anchor" href="business-club.html"rel="noopener noreferrer">BUSINESS CLUB</a>
            </li>
            <li>
                <a class="anchor" href="about_us.html" rel="noopener noreferrer">ABOUT US</a>
            </li>
            <li>
                <a class="anchor" href="news.html" rel="noopener noreferrer">NEWS </a>
            </li>
            <li>
                <a class="anchor" href="faqs.html" rel="noopener noreferrer">FAQs</a>
            </li>
            <li>
                <a href="sign_in.html" class="sign">SIGN IN</a>
            </li>
        </ul>
    </nav>

        </div>
    </section>
    <section class="number2">
<div class="container">
    <div class="parent">
        <div>
                <video autoplay muted plays-inline class="back">
                    <source src="pie.mp4" type="video/mp4">
                </video>
        </div>

        <div>
                <video autoplay muted plays-inline class="back">
                    <source src="girl.mp4" type="video/mp4">
                </video>
        </div>

       
    </div>
</div>
    </section>


    <section class="number3">
        <div class="container">
            <div class="telly">
                <h1 id="FIRST">
                    FAQs.
                </h1>
                <P id="PARA">
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nam error quisquam sit quod laborum illo nemo
                    beatae doloribus ratione.</p>
    
            </div>
        </div>
    </section>
    <section class="number4">
        <div class="container">
            <h1 class="qna">
                SOME QUESTIONS YOU MIGHT ASK 
            </h1>
            <p class="emji"></p>
   
            <div class="panel-group" id="accordion">
       
                <h3 data-aos="fade-in">Is account registration required?</h3>
                <div class="early">
                  <p>
                    Account registration at <strong>zeeTrend`business-club`</strong> is only required if you will be selling or buying themes. 
                    This ensures a valid communication channel for all parties involved in any transactions. 
                  </p>
                </div>
                <h3 data-aos="fade-in">Can I submit my own zeeTrend templates or themes?</h3>
                <div class="early">
                  <p>
                    A lot of the content of the site has been submitted by the community. Whether it is a commercial element/template/theme 
                    or a free one, you are encouraged to contribute. All credits are published along with the resources. 
                  </p>
                </div>
                <h3 data-aos="fade-in">What is the currency used for all transactions?</h3>
                <div class="early">
                  <p>
                    All prices for themes, templates and other items, including each seller's or buyer's account balance are in <strong>USD</strong>
                
                  </p>
                </div>
                <h3 data-aos="fade-in">Who cen sell items?</h3>
                <div class="early">
                  <p>
                    Any registed user, who presents a work, which is genuine and appealing, can post it on <strong>zeeTrend</strong>.
                  </p>
                
                </div>
                <h3 data-aos="fade-in"> I want to sell my items - what are the steps? </h3>
                <div class="early">
                    <p> The steps involved in this process are really simple. All you need to do is:
                        <ul class="lit">
                            <li>Register an account</li>
                            <li>Activate your account</li>
                            <li>Go to the <strong>Themes</strong> section and upload your theme</li>
                            <li>The next step is the approval step, which usually takes about 72 hours.</li>
                        </ul></p>
                </div>
                <h3 data-aos="fade-in"> How much do I get from each sale? </h3>
                  <div class="early">
                    <p> Here, at <strong>zeeTrend</strong>, we offer a great, 70% rate for each seller, regardless of any restrictions, such as volume, date of entry, etc.</p>
                </div>  
                <h3 data-aos="fade-in"> Why sell my items here? </h3>
                <div class="early">
                    <p>There are a number of reasons why you should join us:
                        <ul class="lity">
                            <li>A great 70% flat rate for your items.</li>
                            <li>Fast response/approval times. Many sites take weeks to process a theme or template. And if it gets rejected, there is another iteration. We have aliminated this, and made the process very fast. It only takes up to 72 hours for a template/theme to get reviewed.</li>
                            <li>We are not an exclusive marketplace. This means that you can sell your items on <strong>zeeTrend</strong>, as well as on any other marketplate, and thus increase your earning potential.</li>
                        </ul></p>
                </div> 
                <h3 data-aos="fade-in">What are the payment options?  </h3>
                 <div class="early">
                    <p>The best way to transfer funds is via Paypal. This secure platform ensures timely payments and a secure environment. </p>
                </div> 
                <h3 data-aos="fade-in"> When do I get paid? </h3>
                 <div class="early">
                    <p>   Our standard payment plan provides for monthly payments. At the end of each month, all accumulated funds are transfered to your account. 
                        The minimum amount of your balance should be at least 70 USD. </p>
                </div>
                <h3 data-aos="fade-in"> I want to buy a theme - what are the steps? </h3>
                <div class="early">
                        <p>   Buying a theme on <strong>zeeTrend</strong> is really simple. Each theme has a live preview. 
                            Once you have selected a theme or template, which is to your liking, you can quickly and securely pay via Paypal.
                            <br />
                            Once the transaction is complete, you gain full access to the purchased product.  </p>
                </div>
                <h3 data-aos="fade-in">Is this the latest version of an item</h3>
                <div class="early">

                    <p> Each item in <strong>zeeTrend</strong> is maintained to its latest version. This ensures its smooth operation.</p>
                </div>


           </div> 
            </div>
        </div>
    </section>
 


    <section class="number5">
        <div class="container">
            <h1 class="pro" data-aos="fade-down">
                Our profile</h1>
                <a href="business-club.html" class="brand"><img src="../images/brand.png" alt="" class="brand" data-aos="zoom-in"></a>
                <p class="prO" data-aos="fade-up">consectetur adipisicing elit. Libero vitae eaque quis alias soluta adipisci corporis nemo labore quidem quia fuga, facere ratione aspernatur dicta possimus aut odit, iste suscipit</p>
                <h4 class="dw">contact us on : </h4>
                <p class="contact">03123467890</p>
                <img src="../images/whatsapp.png" alt="" class="whtap" data-aos="zoom-out">
                <img src="../images/fb2.png" alt="" class="faab" data-aos="zoom-out"><p class="ffbb"><a href="www.facebook.com" class="faab">www.facebook.com</a></p>
                <img src="../images/tweet2.png" alt="" class="tweet" data-aos="zoom-out"><p class="ttww"><a href="www.twitter.com" class="tweet">www.twitter.com</a></p>
            
        </div>
    </section>
</body>







<footer class="ft">
    <div class="container">
        <div class="fter">
            <h1 class="sms">GET IN TOUCH</h1>
            <div class="flex">
                <div class="derive">
                    <p class="rar">PRESS<br></p>
                    <a class="ttt" href="" rel="noopener noreferrer">PRESS@TREND.COM</a>
                </div>
                <div class="derive">
                    <p class="rar">CAREERS <br></p>
                    <a class="ttt" href="" rel="noopener noreferrer">CAREERS@TREND.COM</a>
                </div>
                <div class="derive">
                    <p class="rar">GENERAL <br></p>
                    <a class="ttt" href="" rel="noopener noreferrer">GENERAL@TREND.COM</a>
                </div>
                <div class="derive">
                    <p class="rar">IDEAS <br></p>
                    <a class="ttt" href="" rel="noopener noreferrer">IDEAS@TREND.COM</a>
                </div>
            </div>
        </div>

        <div class="rung">
            <a href="#" class="party">SITE NOTICE</a>
            <a href="#" class="party">PRIVACY STATEMENT</a>
            <a href="#" class="rain"><img src="../images/face.PNG" alt="" class="barish"></a>
            <a href="#" class="rain"><img src="../images/twitt.PNG" alt="" class="barish"></a>
            <a href="#" class="rain"><img src="../images/inst.PNG" alt="" class="barish"></a>
        </div>
    </div>
</footer>


  
  <!-- jquery ka cdn -->
  <script src="https://code.jquery.com/jquery-3.6.0.js"></script>


  <!-- jquery ui ka cdn -->
<script src="https://code.jquery.com/ui/1.13.1/jquery-ui.js"></script>

<!-- slick slider ka cdn -->
<script src="slick-1.8.1/slick/slick.js"></script>
<script src="slick-1.8.1/slick/slick.min.js"></script>

<!-- transition -->
<script src="https://unpkg.com/aos@next/dist/aos.js"></script>
<script>
  AOS.init();
</script>

<!-- apni file -->
<script src="../js/faqs.js"></script>
</html>
