<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>zeeTrend
    </title>
    <!-- for accordion (jquery ui wala) -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css">
    <link rel="stylesheet" href="resources/demos/style.css">

    <link rel="shortcut icon" href="../images/brand.png" type="image/x-icon">

    <!-- for slick slider -->
    <link rel="stylesheet" href="slick-1.8.1/slick/slick-theme.css" />
    <link rel="stylesheet" href="slick-1.8.1/slick/slick.css">


    <!-- transitioN -->
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />

    <!-- apni file -->
    <link rel="stylesheet" href="../css/home_ka.css">
</head>

<body>
    <section class="number1" id="1">
        <div class="container">
            <nav>
                <h1><a class="Trend" href="business-club.html" rel="noopener noreferrer">Trend</a></h1>
                <ul class="ul">
                    <li>
                        <a class="anchor" href="home.html" rel="noopener noreferrer">HOME </a>
                    </li>
                    <li>
                        <a class="anchor" href="business-club.html" rel="noopener noreferrer">BUSINESS CLUB</a>
                    </li>
                    <li>
                        <a class="anchor" href="about_us.html" rel="noopener noreferrer">ABOUT US</a>
                    </li>
                    <li>
                        <a class="anchor" href="news.html" rel="noopener noreferrer">NEWS</a>
                    </li>
                    <li>
                        <a class="anchor" href="faqs.html" rel="noopener noreferrer">FAQs</a>
                    </li>
                    <li>
                        <a href="sign_in.html" class="sign">SIGN IN</a>
                    </li>
                </ul>
            </nav>

        </div>
    </section>


    <section class="number2">
        <div class="container">
            <h1 id="FIRST">
                WE TREND.
            </h1>
            <P id="PARA">
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nam error quisquam sit quod laborum illo nemo
                beatae doloribus ratione.</p>

            <div id='warped'>
                <span class='w0'> </span><span class='w1'>L</span><span class='w2'>E</span><span
                    class='w3'>A</span><span class='w4'>R</span><span class='w5'>N</span><span class='w6'> </span><span
                    class='w7'>M</span><span class='w8'>O</span><span class='w9'>R</span><span class='w10'>E</span><span
                    class='w11'>.</span><span class='w12'>L</span><span class='w13'>E</span><span
                    class='w14'>A</span><span class='w15'>R</span><span class='w16'>N</span><span class='w17'>
                </span><span class='w18'>M</span><span class='w19'>O</span><span class='w20'>R</span><span
                    class='w21'>E</span><span class='w22'>.</span>
            </div>
            <div class="arr">
                <a href="#sec5" class="king"><img src="../images/down.png" class="beep" alt="" style="transition: 0.5s ease;"></a>
            </div>
        </div>
    </section>
    <section class="number3">
        <div class="container">
            <div class="center">
                <img id="pic" src="../images/1.jpg" alt="">
                <img id="pic" src="../images/yupp.PNG" alt="">
                <img id="pic" src="../images/special.PNG" alt="">
                <img id="pic" src="../images/2.jpg" alt="">
                <img id="pic" src="../images/5.jpg" alt="">
                <img id="pic" src="../images/6.jpg" alt="">
            </div>
        </div>
    </section>
    <section class="number4">
        <div class="container">
            <div class="sec">
                <div id="accordion">
                    <h3>ABOUT US <p id="p">Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium
                            excepturi suscipit porro quisquam quo expedita doloribus error molestiae ad accusamus sapien
                        </p>
                    </h3>
                    <div>
                        <p id="no">
                            Acorns <em>.</em> Bumble <em>.</em> Farfetch
                        </p>
                        <img id="f" src="../images/yupp.PNG" alt="">
                    </div>
                    <h3>NEWS <p id="p">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Numquam esse cumque
                            impedit. Inaceat magni? Quae quisquam atque illum repellat!</p>
                    </h3>
                    <div>
                        <p id="no">
                            Acorns <em>.</em> Bumble <em>.</em> Farfetch
                        </p>
                        <img id="f" src="../images/news.jpg" alt="">
                    </div>
                    <h3>TREND <p id="p">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Numquam esse cumque
                            impedit. Inaceat magni? Quae quisquam atque illum repellat!</p>
                    </h3>
                    <div>
                        <p id="no">
                            Acorns <em>.</em> Bumble <em>.</em> Farfetch
                        </p>
                        <img id="f" src="../images/hand.jpg" alt="">

                    </div>

                </div>

            </div>
    </section>
    <section class="number5" id="sec5">
        <div class="container">
            <div class="kit">
                <p class="gig">ING <em>.</em> TAIPEI <em>.</em> TOKYO <em>.</em> SAO PAOLU <em>.</em> PARIS <em>.</em>
                    BERLIN <em>.</em> SAN </p>
                <div class="min">
                    <h1 class="deg">WE INVEST <br> IN TECHNOLOGY COMPANIES</h1>
                    <p class="tip">with such characteristics</p>
                    <div class="main">
                        <div class="jack">
                            <h1 class="h1">
                                BUSINESS MODELS
                            </h1>
                            <p class="num1">-01</p>
                            <ul class="y">
                                <li>
                                    service business models
                                </li>
                                <li>
                                    product and service business models

                                </li>
                            </ul>
                        </div>
                        <div class="jack">
                            <h1 class="h1">
                                PROFITABILITY
                            </h1>
                            <p class="num2">-02</p>
                            <ul class="y">
                                <li>
                                    The company is operationally efficient
                                </li>
                                <li>
                                    The company already has a net profit of $30 - $100k + per month
                                </li>
                            </ul>
                        </div>
                        <div class="jack">
                            <h1 class="h1">
                                GLOBAL DISTRIBUTION
                            </h1>
                            <p class="num3">-03</p>
                            <ul class="y">
                                <li>
                                    The company has no geographical limits
                                </li>
                                <li>
                                    The company is ready to scale globally
                                </li>
                            </ul>
                        </div>
                        <div class="jack">
                            <h1 class="h1">
                                AMBITIONS
                            </h1>
                            <p class="num4">-04</p>
                            <ul class="y">
                                <li>
                                    The company should have ambitions to become NO.1 in the world in it's niche
                                </li>
                                <li>
                                    The company should have ambitions to grow exponentially
                                </li>
                            </ul>
                        </div>
                        <div class="jack">
                            <h1 class="h1">
                                SYNERGY
                            </h1>
                            <p class="num5">-05</p>
                            <ul class="y">
                                <li class="qwe">
                                    The company should open to cooperation and improvements offered by NTF
                                </li>
                                <li class="qwe">
                                    The company should have the potential to increase capitalization and achieve
                                    guaranteed growth in cooperation with NTFs

                                </li>
                            </ul>
                        </div>


                        <div id='warped1'>
                            <span class='w01'>S</span><span class='w11'>I</span><span class='w21'>G</span><span
                                class='w31'>N</span><span class='w41'> </span><span class='w51'>U</span><span
                                class='w61'>P</span><span class='w71'>.</span><span class='w81'>S</span><span
                                class='w91'>I</span><span class='w101'>G</span><span class='w111'>N</span><span
                                class='w121'> </span><span class='w131'>U</span><span class='w141'>P</span><span
                                class='w151'>.</span><span class='w161'>S</span><span class='w171'>I</span><span
                                class='w181'>G</span><span class='w191'>N</span><span class='w201'> </span><span
                                class='w211'>U</span><span class='w221'>P</span><span class='w231'>.</span>
                        </div>

                        <a href="sign_in.html" target="_blank"><img src="../images/right.png" alt="" class="right"></a>

                    </div>
                </div>
            </div>
        </div>
    </section>


    <section class="number6">
        <div class="container">
            <div class="secndlast">
                <h1 class="tree">STAY UP <br> ON THE LATEST</h1>
                <form action="sign_in.html" id="frm">

                    <input type="email" name="email" id="same" placeholder="EMAIL">
                    <br>
                    <input type="submit" value="SIGN IN">
                </form>
                <div class="grp-img">
                    <img src="../images/4.PNG" alt="" class="1">
                    <img src="../images/special.PNG" alt="" class="2">
                </div>
            </div>
            <a href="#1" class="top"><img src="../images/arrrrrr.PNG" alt="" class="topi"></a>
        </div>
    </section>


    <footer class="ft">
        <div class="container">
            <div class="fter">
                <h1 class="sms">GET IN TOUCH</h1>
                <div class="flex">
                    <div class="derive">
                        <p class="rar">PRESS<br></p>
                        <a class="ttt" href="" target="_blank" rel="noopener noreferrer">PRESS@TREND.COM</a>
                    </div>
                    <div class="derive">
                        <p class="rar">CAREERS <br></p>
                        <a class="ttt" href="" target="_blank" rel="noopener noreferrer">CAREERS@TREND.COM</a>
                    </div>
                    <div class="derive">
                        <p class="rar">GENERAL <br></p>
                        <a class="ttt" href="" target="_blank" rel="noopener noreferrer">GENERAL@TREND.COM</a>
                    </div>
                    <div class="derive">
                        <p class="rar">IDEAS <br></p>
                        <a class="ttt" href="" target="_blank" rel="noopener noreferrer">IDEAS@TREND.COM</a>
                    </div>
                </div>
            </div>

            <div class="rung">
                <a href="#" class="party">SITE NOTICE</a>
                <a href="#" class="party">PRIVACY STATEMENT</a>
                <a href="#" class="rain"><img src="../images/face.PNG" alt="" class="barish"></a>
                <a href="#" class="rain"><img src="../images/twitt.PNG" alt="" class="barish"></a>
                <a href="#" class="rain"><img src="../images/inst.PNG" alt="" class="barish"></a>
            </div>
        </div>
    </footer>


</body>
<!-- jquery ka cdn -->
<script src="https://code.jquery.com/jquery-3.6.0.js"></script>

<!-- jquey-ui ka cdn -->
<script src="https://code.jquery.com/ui/1.13.1/jquery-ui.js"></script>


<!--validate-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.4/jquery.validate.min.js"></script>


<!-- slick slider ka cdn -->
<script src="slick-1.8.1/slick/slick.js"></script>
<script src="slick-1.8.1/slick/slick.min.js"></script>

<!-- transtion k liey -->
<script src="https://unpkg.com/aos@next/dist/aos.js"></script>
<script>
    AOS.init();
</script>


<!-- apni file ka relative -->
<script src="../js/home_ka.js"></script>





</html>