<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>News</title>
    <link rel="stylesheet" href="../css/news.css">
    <link rel="shortcut icon" href="../images/brand.png" type="image/x-icon">

</head>
<body>
    <section class="class0">
        <div class="container">
            <div class="div">
                <nav>
                    <h1 class="class"><a class="Trend" href="business-club.html" rel="noopener noreferrer">Trend</a></h1>
                    <ul class="ul">
                        <li>
                            <a class="anchor" href="home.html" rel="noopener noreferrer">HOME </a>
                        </li>
                        <li>
                            <a class="anchor" href="business-club.html" rel="noopener noreferrer">BUSINESS CLUB</a>
                        </li>
                        <li>
                            <a class="anchor" href="about_us.html" rel="noopener noreferrer">ABOUT US</a>
                        </li>
                        <li>
                            <a class="anchor" href="news.html" rel="noopener noreferrer">NEWS</a>
                        </li>
                        <li>
                            <a class="anchor" href="faqs.html" rel="noopener noreferrer">FAQs</a>
                        </li>
                        <li>
                            <a href="sign_in.html" class="sign">SIGN IN</a>
                        </li>
                    </ul>
                </nav>
            </div>
    

        </div>
    </section>

    <section class="class1">
        <div class="container">
            <div class="div1">
                <a href="#"> <img class="imgg" src="../images/arrow.png" height="16px" width="26px" alt=""> </a> 
                <p class="p">NEWS.</p>
           
              </div> 

              <div>
                <img class="imgpic" src="../images/special.png" alt="">
              </div>

              <div class="flot">
                <h2 class="Z7">SEE ALSO</h2>
                <p class="Z8">GERMAN FINTECHS RAISIN AND DEPOSIT SOLUTIONS JOIN FORCES</p>
                <p class="Z9">June 2021</p>
              </div>

              <div class="flot1">
                <p class="Z10">GOPUFF ENTERS UK RAPID DELIVERY MARKET WITH FANCY ACQUISITION</p>
                <p class="Z11">June 2021</p>
              </div>


        </div>
    </section>

    <section class="padding2">
        <div class="container">
            <div class="fx">
            <div class="new3">
              <h1 class="h12"> THE STORY OF HEADLINE</h1>
              <p class="ppp">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid obcaecati doloribus voluptatum quibusdam consequatur ab veritatis aliquam a ratione voluptates cumque harum beatae vel reprehenderit ullam esse, quae saepe animi quia accusantium eveniet veniam laboriosam exercitationem molestiae? Quibusdam, soluta vel. Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic explicabo atque labore praesentium repellendus qui. Lorem ipsum dolor sit amet consectetur, adipisicing elit.</p>
              
                <h5 class="h52">Libero justo laoreet sit amet cursus sit amet.Morbi blandit cursus risus at.</h5>  
                <ul class="ul2">
                    <li class="li3"> Turips massa dolor sit amet consectetur adipisicing sit amet.</li>
                    <li class="li3"> Pulvinar elementum dolor sit amet consectetur adipisicing elit ac tincidunt.</li>
                    <li  class="li3"> Imperdiet nulla sit amet consectetur adipisicing elit. Molestiae, illo cum sociis natoque.</li>
                    <li class="li3"> Suspendisse dolor sit amet, consectetur adipisicing elit tincidunt.</li>
                </ul>
            
                <p class="ppp1">
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Officia dolorem architecto accusamus quos ratione perspiciatis animi minima mollitia nostrum totam. Soluta architecto minima perferendis odio exercitationem in totam excepturi nobis voluptas reiciendis eligendi eum delectus, vitae molestiae! Quam, alias voluptate.
                </p>

            </div>
            <div class="clas">
                <p class="clas1">CAMEO AIMS TO CONNECT <br>
                    CELEBRITIES WITH FANS AND IT`S..</p>
                <img class="immg" src="../images/Capture.PNG" alt="">
                <p class="clas2">GOPUFF ENTERS UK RAPID DELIVERY MARKET WITH FANCY ACQUISITION</p>
                <p class="clas3">June 2021</p>

            </div>
        </div>

        </div>
    </section>

    <section class="paddi3">
        <div class="container">
            <div class="flx3">
                <div > <img class="padd1" src="../images/special.png" alt=""></div>
                <div ><img class="padd1" src="../images/special.png" alt=""></div>

            </div>
            <div class="height5">
                <p class="clas5">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aperiam ullam rem odio nihil harum voluptatum! Incidunt praesentium, quo vitae rerum totam magni numquam corrupti. Ad accusamus, deleniti voluptates asperiores voluptas nostrum laborum at laboriosam numquam, eius reprehenderit tempore, eaque quo repellat quasi quis. Molestias soluta nihil culpa eos quaerat, itaque quasi animi laudantium reprehenderit quidem cumque id similique vitae incidunt officia, et fugiat doloremque voluptatibus dignissimos nisi delectus vero ex? Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
            </div>
            <div class="clas11">
                <div class="clas10">
                    <p class="clas6"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum, tempora Lorem ipsum dolor sit amet adipisicing elit.  </p>
                </div>
                <div>
                    <img class="clas7" src="../images/new1.jpg" alt="">
                    <h2 class="clas8">EMMA ROBINSON</h2>
                    <p class="clas9">Director</p>
                </div>
        </div>

        </div>
    </section>

    
    <section class="neww">
        <div class="container">
            <div class="border">
                <img class="b.radius" src="../images/n.jpeg" alt="">
                <p class="emma">By Emma Ronson, Manager</p>
                <p class="aug">August 23</p>
                <p class="time">3:00 pm</p>

            </div>
            <div class="social">
                <div class="social1"> <img class="heart" src="../images/heart.PNG" alt=""> <p class="num"> <span class="span">|</span>534</p></div>
                <div class="social2"> <img class="fb" src="../images/fb.PNG" alt=""> <p class="num" id="num1"><span class="span1">|</span>234</p></div>
                <div class="social3"> <img class="tweet" src="../images/tweet.PNG" alt=""> <p class="num" id="num2"><span class="span2">|</span>93</p></div>
                <div class="social4">
                    <a href="business-club.html"> <img class="dots"  src="../images/threedotss.PNG" alt=""></a>

                </div>
            </div>


        </div>
    </section>

    <footer class="ft">
        <div class="container">
            <div class="fter">
                <h1 class="sms">GET IN TOUCH</h1>
                <div class="flex">
            <div class="derive">
                <p class="rar">PRESS<br></p>
                <a class="ttt" href="http://" target="_blank" rel="noopener noreferrer">PRESS@TREND.COM</a>
            </div>
            <div class="derive">
                <p class="rar">CAREERS <br></p>
                <a class="ttt" href="http://" target="_blank" rel="noopener noreferrer">CAREERS@TREND.COM</a>
            </div>
            <div class="derive">
                <p class="rar">GENERAL <br></p>
                <a class="ttt" href="http://" target="_blank" rel="noopener noreferrer">GENERAL@TREND.COM</a>
            </div>
            <div class="derive">
                <p class="rar">IDEAS <br></p>
                <a class="ttt" href="http://" target="_blank" rel="noopener noreferrer">IDEAS@TREND.COM</a>
            </div>    
            </div> 
            </div>
    
            <div class="rung">
                <a href="#" class="party">SITE NOTICE</a>
                <a href="#" class="party">PRIVACY STATEMENT</a>
                <a href="#" class="rain"><img src="../images/face.PNG" alt="" class="barish"></a>
                <a href="#" class="rain"><img src="../images/twitt.PNG" alt="" class="barish"></a>
                <a href="#" class="rain"><img src="../images/inst.PNG" alt="" class="barish"></a>
            </div>
        </div>
    </footer>
</body>
</html>