<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css">
  <link rel="stylesheet" href="/resources/demos/style.css">
  
    <link rel="stylesheet" href="../css/table.css">
 
</head>
<body>
    <section>
        <div class="container">
            
          <!-- tabbbbbb -->
          <div class="container-fluid">
          <div id="tabs" class="table">
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link" aria-current="page" href="#tabs-2">Day</a>
            </li>
              <li  class="nav-item">
                <a  class="nav-link active" aria-current="page" href="#tabs-1">Week</a>
            </li>
              <li class="nav-item">
                <a class="nav-link" aria-current="page" href="#tabs-3">Month</a>
            </li>
            </ul>
            <form class="d-flex">
                <input class="form-control me-2" type="search" placeholder="Search" id="search">
                <button class="btn btn-outline-success" type="button" id="btnsearch">Search</button>
              </form>
         </div>
           <!-- </div> -->




               
                  


            <div id="tabs-1">
                <div class="blank" id="table">
                    <table class="table1">
                        <thead>
                            <title></title>
                        </thead>      
                        <tbody class="tbody1">             
                            <tr>
                                <th>
                                    <p class="days"> SUN  <br></p> <p class="date"> 21</p>
                                </th>
                                <th>
                                    <p class="days">MON <br></p> <p class="date">22</p>
                                </th>
                                <th>
                                    <p class="days">TUES <br></p> <p class="date">23</p>
                                </th>
                                <th>
                                    <p class="days">WED <br></p> <p class="date">24</p>
                                </th>
                                <th>
                                    <p class="days">THUR <br></p> <p class="date">25</p>
                                </th>
                                <th>
                                    <p class="days">FRI <br></p> <p class="date">26</p>
                                </th>
                                <th>
                                    <p class="days">SAT <br></p> <p class="date">27</p>
                                </th>
                            </tr>
                        <tr> 
                            <td class="size2"></td>
                            <td class="size2"></td>
                            <td class="size2"></td>
                            <td class="size2"></td>
                            <td class="size2"></td>
                            <td class="size2"></td>
                            <td class="size2"></td>
                        </tr>
                        <tr> 
                            <td></td>
                            <td class="blue" id="size"> <p class="time1"> 8:00 AM </p><p class="emoj">&#9940;</p> <p class="lorem1"> Lorem ipsum is <br> asrdolorsit.</p></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr> 
                            <td></td>
                            <td></td>
                            <td></td>
                            <td class="blue" id="size"> <p class="time2">9:00 AM </p> <p  class="emoji">&#9940;</p><p class="emoji2">&#128526;</p> <p class="lorem2">Lorem ipsum is <br> asrdolorsit.</p>  </td>
                            <td></td>
                            <td class="blue" id="size"> <p class="time2">9:00 AM </p>  <p  class="emoji">&#9940;</p><p class="emoji2">&#128526;</p> <p class="lorem2">Lorem ipsum is <br> asrdolorsit.</p> </td>
                            <td></td>
                        </tr>
                        <tr> 
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td  class="purple" id="size"> <p class="time1">9:00 AM </p>  <p class="emoj">&#9940;</p> <p class="lorem1">Lorem ipsum is <br> asrdolorsit.</p></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr> 
                            <td></td>
                            <td  class="purple" id="size"> <p class="time2"> 11:00 AM  </p><p  class="emoji">&#9940;</p><p class="emoji2">&#128557;</p> <p class="lorem2">Lorem ipsum is<br> asrdolorsit.</p> </td>
                            <td></td>
                            <td  class="purple" id="size"> <p class="time1">11:00 AM </p> <p class="emoj">&#9940;</p> <p class="lorem1">Lorem ipsum is <br> asrdolorsit.</p></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr> 
                            <td></td>
                            <td  class="purple"></td>
                            <td class="green" id="size"> <p class="time2">10:00 PM </p> <p  class="emoji">&#9940;</p><p class="emoji2">&#128557;</p> <p class="lorem2">Lorem ipsum is<br> asrdolorsit.</p> </td>
                            <td></td>
                            <td></td>
                            <td class="blue" id="size"> <p class="time2">10:00 PM</p>  <p class="emoji">&#9940;</p><p class="emoji2">&#129321;</p> <p class="lorem2">Lorem ipsum is <br> asrdolorsit.</p> </td>
                            <td></td>
                        </tr>
                        <tr> 
                            <td></td>
                            <td></td>
                            <td></td>
                            <td class="blue" id="size">  <p class="time1"> 1:00 PM </p> <p class="emoj">&#9940;</p> <p class="lorem1">Lorem ipsum is<br> asrdolorsit.</p></td>
                            <td class="blue" id="size"> <p class="time1"> 1:00 PM </p> <p class="emoj">&#9940;</p> <p class="lorem1">Lorem ipsum is<br> asrdolorsit.</p></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr> 
                            <td></td>
                            <td class="yellow" id="size"> <p class="time1">7:00 PM </p> <p class="emoj">&#9940;</p> <p class="lorem1">Lorem ipsum is <br> asrdolorsit.</p></td>
                            <td class="blue" id="size"> <p class="time1"> 7:00 PM </p><p class="emoj">&#9940;</p><p class="lorem1">Lorem ipsum is<br> asrdolorsit.</p></td>
                            <td class="blue"></td>
                            <td></td>
                            <td></td>
                            <td class="yellow" id="size"> <p class="time1">7:00 PM</p>  <p class="emoj">&#9940;</p> <p class="lorem1">Lorem ipsum is<br> asrdolorsit.</p></td>
                        </tr>
                        <tr> 
                            <td></td>
                            <td></td>
                            <td class="blue"></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr> 
                            <td></td>
                            <td></td>
                            <td class="red" id="size"> <p class="time2">4:00 PM</p>  <p  class="emoji">&#9940;</p> <p class="emoji2">&#128578;</p> <p class="lorem2">Lorem ipsum is<br> asrdolorsit.</p></td>
                            <td></td>
                            <td></td>
                            <td class="red" id="size"> <p class="time2"> 4:00 PM</p> <p class="emoji">&#9940;</p><p class="emoji2">&#127801;</p> <p class="lorem2">Lorem ipsum is<br> asrdolorsit.</p></td>
                            <td></td>
                        </tr>
              </tbody>
                    </table>
                    <ul class="UL1">
                        <li>7 AM</li>
                        <li>8 AM</li>
                        <li>9 AM</li>
                        <li>10 AM</li>
                        <li>11 AM</li>
                        <li>10 PM</li>
                        <li>1 PM</li>
                        <li>2 PM</li>
                        <li>3 PM</li>
                        <li>4 PM</li>
                    </ul>

                    <ul class="UL2">
                        <li>7 AM</li>
                        <li>8 AM</li>
                        <li>9 AM</li>
                        <li>10 AM</li>
                        <li>11 AM</li>
                        <li>10 PM</li>
                        <li>1 PM</li>
                        <li>2 PM</li>
                        <li>3 PM</li>
                        <li>4 PM</li>
                    </ul>
                    
    
                </div>
            </div>
            <div id="tabs-2">
                <div>
                    <table class="hight">
                          <thead>
                           <title></title>
                          </thead> 
                           <tbody class="tbody">
                               <tr class="1" id="same">
                                   <th>Mon</th>
                                   <th>Tues</th>
                                   <th>Wed</th>
                                   <th>Thurs</th>
                                   <th>Fri</th>
                                   <th>Sat</th>
                                   <th>Sun</th>
                               </tr>
                               <tr  class="2" id="same">
                                   <td>29</td>
                                   <td>30</td>
                                   <td>31</td>
                                   <td>1</td>
                                   <td>2</td>
                                   <td class="color">3 <br> Eid-ul-Azha</td>
                                   <td>4</td>
                               </tr>
                                <tr class="3" id="same">
                                   <td>5</td>
                                   <td class="color1">6 <br> Meeting</td>
                                   <td>7</td>
                                   <td>8</td>
                                   <td>9</td>
                                   <td>10</td>
                                   <td>11</td>
                                </tr>
                                 <tr class="4" id="same">
                                    <td>12</td>
                                    <td>13</td>
                                    <td>14</td>
                                    <td>15</td>
                                    <td class="color2">16 <br> Function</td>
                                    <td >17</td>
                                    <td>18</td>  
                                </tr>
                                <tr class="5" id="same">
                                    <td>19</td>
                                    <td>20</td>
                                    <td class="color4">21 Client Meeting</td>
                                    <td>22</td>
                                    <td>23</td>
                                    <td>24</td>
                                    <td>25</td>    
                                </tr>
                                <tr class="6" id="same">
                                     <td>26</td>
                                     <td class="color3">27 <br> Project Submission</td>
                                    <td>28</td>
                                    <td>29</td>
                                    <td>30</td>
                                    <td>1</td>
                                    <td>2</td>    
                               </tr>
                                
                           </tbody>     
                    </table>
               </div>
            </div>
            <div id="tabs-3">
              <div>
            <table class="table2" id="hidden">
                <thead>
                    <title></title>
                   </thead> 
                   <tbody class="tbody2">
                    <tr id="parent">
                        <td  class="W">JANUARY</td>
                        <td class="W">FEBRUARY</td>
                        <td class="W">MARCH</td>
                        <td class="W">APRIL</td>
                    </tr>
                    <tr id="parent1">
                        <td class="W">MAY</td>
                        <td class="W">JUNE</td>
                        <td class="W">JULY</td>
                        <td class="W">AUGUST</td>
                    </tr>
                    <tr id="parent">
                        <td class="W">SEPTEMBER</td>
                        <td class="W">OCTOBER</td>
                        <td class="W">NOVEMBER</td>
                        <td class="W">DECEMBER</td>
                    </tr>

                   </tbody>
            </table>
         </div>
            </div>
        
        
        </div>
     </div>
          
         </div>
  </section>
</body>
<script src="https://code.jquery.com/jquery-3.6.0.js"></script>
  <script src="https://code.jquery.com/ui/1.13.1/jquery-ui.js"></script>
  <script src="../js/table.js"></script>

</html>